{% extends 'base.html' %}
{% block title %}{% endblock %}
<div class="mt-5">
{% block content %}
{% endblock %}
</div>
{% block sidebar_menu %}
<h4>Students Info</h4>
    <ul>
        <li>
            <a href="{% url 'students:search' %}">Students Bio Data</a>
        </li>
        <li>
            <a href="{% url 'students:bio_update_format' %}">Bio of Entire Class</a>
        </li>
        <li>
            <a href="#">Student Academic Progress History</a>
        </li>
    </ul>
{% endblock %}