{% extends 'students/base.html' %}
{% load to_underscore %}
{% block title %}Student Profile{% endblock %}
{% block content %}
<p>{{student | json_script:"student_data"}}</p>
<p>{{student_obj.grades_breakdown | json_script:"student_grades_breakdown"}}</p>
<p>{{student_obj.cgpa_by_session | json_script:"student_cgpa_by_session"}}</p>
<p>{{results | json_script:"result_data"}}</p>

<div class="col-md-10 mx-auto">
    {% if student %}
    <div class="d-flex justify-content-end">
        <a href="{% url 'students:edit_bio' student_obj.student_reg_no|to_underscore %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
            <span class="ms-1">Edit Bio</span>
        </a>
        <span class="mx-2">|</span>
        <a href="{% url 'results:student-records' student_obj.student_reg_no|to_underscore %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
            <span class="ms-1">Add/Modify Results</span>
        </a>
        <span class="mx-2">|</span>
        <a href="{% url 'results:generate_transcript' student_obj.student_reg_no|to_underscore %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
            </svg>
            <span class="ms-1">Transcript</span>
        </a>
    </div>
    <div class="bg-secondary bg-opacity-10 p-5">
        <h1 class="text-center text-success mb-5">Student Profile</h1>
        <div class="table">
            <div class="row">
                <div class="col">First Name: <strong>{{ student.first_name|default:"N/A" }}</strong></div>
                <div class="col">Last Name: <strong>{{ student.last_name|default:"N/A" }}</strong></div>
            </div>
            <div class="row">
                <div class="col">Other Names: <strong>{{ student.other_names|default:"N/A" }}</strong></div>
                <div class="col">Level of Study: <strong>{{ student.current_level_of_study|default:"N/A" }}</strong></div>
            </div>
            <div class="row">
                <div class="col">Mode of Admission: <strong>{{student.mode_of_admission|default:"N/A" }}</strong></div>
                <div class="col">Expected Year of Graduation: <strong>{{student.expected_yr_of_grad|default:"N/A" }}</strong></div>
            </div>
            <div class="row">
                <div class="col">Phone Number: <strong>{{student.phone_number|default:"N/A" }}</strong></div>
                <div class="col">Email: <strong>{{student.email|default:"N/A" }}</strong></div>
            </div>
        </div>
        
        <div class="border-top mt-5 border-bottom">
            <h4 class="text-success text-center my-5">Academic Performance</h4>
            <div>
                <div class="table">
                    <div class="row d-flex mb-5" id="performance_app">
                        <div class="col-md-4 text-center d-flex align-items-stretch">
                            <div class="shadow-sm col-12 bg-white p-3">
                                <div class="card-title fw-bold text-success">CGPA</div>
                                <hr>
                                <div class="card-body"><span class="display-2">{{ student_obj.current_cgpa }}</span>/5<span></span></div>
                            </div>
                        </div>
                        <div class="col-md-4 text-center d-flex align-items-stretch">
                            <div class="shadow-sm col-12 bg-white p-3">
                                <div class="card-title fw-bold text-success">Class Average CGPA</div>
                                <hr>
                                <div class="placeholder-glow" v-if="loadingData">
                                    <span class="display-2 placeholder col-12 bg-secondary bg-opacity-50"></span>
                                </div>
                                <div class="card-body" v-else-if="studentClassData">
                                    <span class="display-2">[[ studentClassData.class_average_cgpa ]]</span><span>/5</span>
                                </div>
                                <div class="card-body text-muted" v-else>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                    </svg>
                                    <span class="ms-2">Failed to fetch class information</span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-4 text-center d-flex align-items-stretch">
                            <div class="shadow-sm col-12 bg-white p-3">
                                <div class="card-title fw-bold text-success">Position in Class</div>
                                <hr>
                                <div class="placeholder-glow" v-if="loadingData">
                                    <span class="display-2 placeholder col-12 bg-secondary bg-opacity-50"></span>
                                </div>
                                <div class="card-body" v-else-if="studentClassData">
                                    <span class="display-2">[[ studentClassData.position_in_class ]]</span><span>/[[ studentClassData.class_size ]]</span>
                                </div>
                                <div class="card-body text-muted" v-else>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                    </svg>
                                    <span class="ms-2">Failed to fetch class information</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-auto">
                        <div class="col-md shadow-sm bg-white me-5 p-3">
                            <div class="card-title fw-bold text-success text-center">Grades Breakdown</div>
                            <hr>
                            <div id="grades_breakdown_mount" style="height:350px;"></div>
                        </div>
                        <div class="col-md shadow-sm bg-white p-3">
                            <div class="card-title fw-bold text-success text-center">CGPA by Academic Session</div>
                            <hr>
                            <div id="cgpa_by_session_mount" style="height:350px;"></div>
                        </div>
                    </div>
                    <div class="row mt-3 py-5 border-top border-bottom">
                        <h4 class="text-center text-success mb-3">Courses with no Passing Grades</h4>
                        <div class="overflow-auto bg-white p-3" style="height:200px;">
                            {% if student_obj.outstanding_courses %}
                            <ol>
                            {% for course in student_obj.outstanding_courses %}
                                <li>{{course}}</li>
                            {% endfor %}
                            </ol>
                            {% else %}
                            <p class="text-muted">No courses found in this category.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% else %}
        {% endif %}
    </div>
</div>
{% endblock %}
{% block frontend_mount %}
<script>
var chartDiv = document.getElementById('cgpa_by_session_mount');
var chartMount = echarts.init(chartDiv);
var chartOption;
var cgpa_by_session = JSON.parse(document.getElementById('student_cgpa_by_session').innerText)
var sessions = Object.keys(cgpa_by_session)
var cgpa = Object.values(cgpa_by_session)

chartOption = {
    tooltip: {
      trigger: 'item'
  },
    xAxis: {
        type: 'category',
        data: sessions
    },
    yAxis: {
        type: 'value'
    },
    series: [
        {
            data: cgpa,
            type: 'bar',
            showBackground: true,
            backgroundStyle: {
                color: 'rgba(180, 180, 180, 0.2)'
            }
        }
    ]
};
chartOption && chartMount.setOption(chartOption);
</script>

<script>
var chartDom = document.getElementById('grades_breakdown_mount');
var myChart = echarts.init(chartDom);
var grades_breakdown = JSON.parse(document.getElementById('student_grades_breakdown').innerText)
var option;

var grades_keys = Object.keys(grades_breakdown) 
var grades_count = Object.values(grades_breakdown)
var res = []

for (let i in grades_keys){
    res[i] = {}
    res[i]["value"] = grades_count[i]
    res[i]["name"] = grades_keys[i] 
}
console.log(res)
option = {
  tooltip: {
      trigger: 'item'
  },
  legend: {
      top: '5%',
      left: 'center'
  },
  series: [
    {    
        name: 'Grades Breakdown',
        type: 'pie',
        radius: ['40%', '70%'],
        avoidLabelOverlap: false,
        itemStyle: {
            borderRadius: 10,
            borderColor: '#fff',
            borderWidth: 2
        },
        label: {
            show: false,
            position: 'center'
        },
        emphasis: {
            label: {
                show: true,
                fontSize: '40',
                fontWeight: 'bold'
            }
        },
        labelLine: {
            show: false
        },
        data: res
    }
  ]
};
option && myChart.setOption(option);
</script>
<script>
    let app = Vue.createApp({
        delimiters: ["[[", "]]"],
        data() { 
            return{
                student_info: null,
                student_results: null,
                studentClassData: null,
                loadingData: false
            }
        },
        methods: {
            async get_class_data(){
                this.loadingData = true
                await axios
                .get(`/graduation-classes/student/${(this.student_info.student_reg_no).replaceAll('/','_')}`)
                .then(response => {
                    this.studentClassData = response.data
                    console.log(this.studentClassData)
                })
                .catch(error => {
                    console.log(error)
                })
                this.loadingData = false
            },
            get_results(){
                this.student_info = JSON.parse(document.getElementById('student_data').innerText)
                this.student_results = JSON.parse(document.getElementById('result_data').innerText)
            },
        },
        mounted() {
            this.get_results()

            if (this.student_info){
                this.get_class_data()
            }

        }
    })
    let vm = app.mount('#performance_app')
</script>
{% endblock %}