{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="mx-auto w-75 ml-3">
<h5>Academic Progress History for {{ student.student_reg_no }} - {{ student.last_name }}, {{ student.first_name }}</h5>
<h5 class="mb-2">
    Mode of admission:  {% if student.mode_of_admission %}
                        {{ student.mode_of_admission.mode_of_admission }}
                        {% else %}Unknown{% endif %}
</h5>

<div class="mx-auto w-75 ml-3">
<form action="{{ student.get_progress_history_url }}" method="post">
{% csrf_token %}
{{ formset.management_form }}
{% for form in formset %}
<div>{{ form.as_table }}</div>
{% for hidden in form.hidden_fields %}
<div hidden>{{ hidden }}</div>
{% endfor %}

{% endfor %}
<div class="form-group">
    <!-- <button class="btn btn-success" type="submit">
        <img src="{% static 'images/save.svg' %}" alt="save-icon" class="mr-2">
        Save Changes
    </button> -->
    <input class="btn btn-success" type="submit" value="Save and Continue" name="submit">
    <input class="btn btn-success" type="submit" value="Finish" name="submit">
</div>
</form>
</div>
</div>
{% endblock %}