<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'htmx.js' %}"></script>
        <title>{% block title %}{% endblock %}</title>

    </head>


    <body>
        <div class="shadow  p-1 mb-5 bg-white rounded">
            <nav class="nav-bar navbar-default ">
            </nav>
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <a href="{% url 'index' %}" class="navbar-brand">
                    <img height="35%" width="35%" src="{% static 'images/logo.svg' %}" alt="UNN EXAMS OFFICE">
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="navbar-item">
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="navbar-item">
                            <a class="nav-link" href="{% url 'results:menu' %}">Results & Transcripts</a>
                        </li>
                        <li class="navbar-item">
                            <a class="nav-link" href="{% url 'students:menu' %}">Students Bio Data</a>
                        </li>
                        <li class="navbar-item">
                            <a class="nav-link" href="{% url 'staff:menu' %}">Staff Info</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container-fluid bg-white mt-5">
            <div class="col-sm">        
            {% block jumbo_heading %}
            {% endblock%}       
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <div class="mt-2">        
                    {% block content%}
                    {% endblock%}       
                    </div>
                </div>
                <div class="col-sm-3 border-left">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="{% url 'results:transcripts' %}">Student Transcripts</a></li>
                        <li><a href="{% url 'results:collation' %}">Collate Results by Session/Level</a></li>
                        <li><a href="{% url 'results:all' %}">All Currently Available Results</a></li>
                    </ul>
                    <br><br><br><br><br><br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br><br><br><br><br>
                </div>
                </div>
            </div>
        </div>
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script>
            document.body.addEventListener('htmx:configRequest', (e) => {
                e.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
            })
        </script>
    </body>