{% extends 'base.html' %}
{% load static %}
{% load to_underscore %}
{% block title %}Bio Data {% endblock %}
{% block content %}
<div class="col-md-6 mt-5 mx-auto">
    <div class="bg-secondary bg-opacity-10 p-5">
        <h2 class="text-success text-center mb-5">Update Bio Data</h2>
        <form action="{{ action_link }}" method="post" class="ml-3" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {% include 'next_url_form_field.html' %}
            <div class="form-group">
                <button class="btn btn-success mb-5" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                      </svg>
                    Save Changes
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}