{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'message_display.html' %}
<div class="col-md-8 mx-auto">
    <div class="card bg-secondary bg-opacity-10 p-5">
        <h2 class="text-success text-center mb-3">Staff Bio Update</h2>
        {% if staff %}
        <p class="lead my-3">Select Staff:</p>
            <div name="staff" class="overflow-auto border bg-white bg-opacity-10 p-3" style="height:500px;">
            {% for staff_obj in staff %}
            <p><a href="{% url 'staff:edit' staff_obj.id %}">{{ staff_obj|upper}}</a></p>
            {% endfor %}
            </div>
        {% endif %}
        <a href="{% url 'staff:create' %}" class="lead mt-5 mx-auto">Create Bio for New Staff </a>
    </div>
</div>
{% endblock %}